.slider
{
  max-width: 80%;
  position: relative;
  height: 500px;
  margin-bottom: 130px;
  margin: auto;
}

.slider .item img /* масштабирование картинки */
{
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.slider .prev, .slider .next 
{
  cursor: pointer; /*курсор из стрелочки в ручку с пальцем*/
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

.slider .next /* отлеплить трелочку вперед*/
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider-dots 
{
  text-align: center;
}

.slider-dots_item
{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color ;
}

.active, .slider-dots_item:hover 
{
  background-color: rgb(70, 70, 70);
}

.grid-main
{
    display: grid;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    grid-template-areas:
    "area1 area1 area2 area7"
    "area1 area1 area3 area7"
    "area4 area5 area5 area7"
    "area6 area8 area9 area7";
    color: white;
    text-align: left;
}

.grid-area1
{
    grid-area: area1;
    background-image: url("../img/gr3.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area2
{
    grid-area: area2;
    background-image: url("../img/gr8.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area3
{
    grid-area: area3;
    background-image: url("../img/gr4.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area4
{
    grid-area: area4;
    background-image: url("../img/gr2.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area5
{
    grid-area: area5;
    background-image: url("../img/gr9.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area6
{
    grid-area: area6;
    background-image: url("../img/gr7.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area7
{
    grid-area: area7;
    background-image: url("../img/gr1.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area8
{
    grid-area: area8;
    background-image: url("../img/gr5.jpg");
    background-size: cover;
    margin: 3px;
}

.grid-area9
{
    grid-area: area9;
    background-image: url("../img/gr6.jpg");
    background-size: cover;
    margin: 3px;
}

.form-js-main
{
    display: grid;
    width: 320px;
    height: 350px;
    grid-template-areas:
    "area1 area2"
    "area3 area4"
    "area9 area10"
    "area5 area5"
    "area6 area6"
    "area7 area7"
    "area8 area8";
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

form input
{
  padding: 2px 7px ;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 3px;
}

form select
{
  padding: 2px 7px ;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 3px;
}

.form-js-area1
{
  grid-area: area1;
  margin-left: 20px;
  margin-top: 20px;
}

.form-js-area2
{
  grid-area: area2;
  margin-top: 20px;
}

.form-js-area3
{
  grid-area: area3; 
  margin-left: 20px;   
}

.form-js-area4
{
  grid-area: area4;
}

.form-js-area9
{
  grid-area: area9; 
  margin-left: 20px;   
}

.form-js-area10
{
  grid-area: area10;
}

.form-js-area5
{
  grid-area: area5;
  margin-left: 20px;
}

.form-js-area6
{
  grid-area: area6;
  margin-left: 20px;
}

.form-js-area7
{
  grid-area: area7;
  margin-left: 20px;
}

.form-js-area8
{
  grid-area: area8;
  margin: 0 auto;
}

.items-for-korzina
{
    display: flex;
    flex-direction: row;
    align-items:stretch;
}
#cat1, #cat2, #cat3, #cat4, #cat5
{
    height: 60px;
    margin: 10px;
}
#korzina
{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: 100px;
  text-align: center;
  padding: 20px;
  width: 360px;
}
